*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    background-color: black;
    background: linear-gradient(140deg, #673826, #D9B46E);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
a{
    text-decoration: none;
}

.conteudo{
    display: flex;
    height: 100vh;
}
.descricao{
    margin: auto;
}
.conteudoIcone{
    display: flex;
}
.icone{
    border-radius: 50%;
    height: 150px;
    margin: auto;
}

h1, h2{
    text-align: center;
    padding: 5px;
    color: #ffffff;
}
#botaoVerificado{
    color: #EBD46A;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}

.conteudoLink{
    display: grid;
    margin: 20px;
}
.link{
    margin: 5px auto;
    padding: 15px 30px;
    background-color: #ffffff72;
    border-radius:  50px;
    color: #ffffff;
    font-size: 18px;
}